#app{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#main-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.row-box{
    margin: 2rem;
}